<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	{% load static %}
	<h1>Bob Ross</h1>
	<p>For instance: Toking up regularly could dull your
		emotional response and cause addiction, according to a
		marijuana study from the University of Michigan Health System.
		Researchers analyzed 108 people in their early 20s (69 men and
		39 women), all of whom were taking part in a larger study of
		substance use. In the study, participants sat in an MRI while they
		played a game, in which they pressed a button when they saw a target
		on a computer screen cross in front of them. Before each round, they
		were told they could win 20 cents or $5—or they might lose that
		amount, or have no reward or loss. Scientists assessed the moment
		of anticipation (a.k.a. when volunteers knew they could get a few
		dollars richer).

		Now, you’d think getting free money would be cause for excitement,
		but scientists found the more marijuana use volunteers reported,
		the less their reward centers were activated.</p>
	<button id="butt">Click</button>
	<div id="bdDiv"></div>
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>